/* Aseguramos que los inputs de rango y color se vean bien */
input[type=range] {
  accent-color: #3f51b5;
}

button:hover {
  background-color: #f5f5f5 !important;
}

/* Efecto suave para los botones activos */
button:active {
  transform: scale(0.95);
}